{% extends 'chat/chats.html' %}
{% load static %}

{% block message %}
{% for message in messages %}
    <div class="message-container {% if curr_user != message.sender %} friend-message {% endif %}">
        <!-- Message Text -->
        <div class="message-text">
            <div class="card card-text p-2 px-3 m-1">{{ message.content }}</div>
            <div class="small time-left">{{ message.time }}</div>
        </div>
        <!-- Avatar -->
        <div class="avatar">
            <img src="{% static message.sender.avatar %}" alt="Avatar" class="rounded-circle">
        </div>
    </div>
{% endfor %}



<script>
    function scrolltoend() {
        $('#board').stop().animate({
            scrollTop: $('#board')[0].scrollHeight
        }, 800);
    }

    $(function () {
        setInterval(receive, 1000)
    })

    const text = '<div class="d-flex align-items-center mb-4 message-container justify-content-end user-message">' +
             '<div class="avatar">' +
             '<img src="{% static friend.avatar %}" class="rounded-circle" alt="Avatar">' +
             '</div>' +
             '<div class="message-text">' +
             '<div class="card card-text p-2 px-3 m-1">{msg}</div>' +
             '<div class="small time-left">{time}</div>' +
             '</div>' +
             '</div>';


    function receive(){
        $.get('/api/messages/' + sender_id + '/' + receiver_id, function(data){
            if(data.length !== 0){
                for(var i = 0; i < data.length; i++){
                    var field = text.replace('{msg}', data[i].content);
                    var time = data[i].time.slice(0, 5) + ' a.m';
                    field = field.replace('{time}', time);
                    $('#board').append(field);
                    scrolltoend();
                }
            }
        })
    }
</script>


{% endblock %}