{% extends 'chat/chats.html' %}
{% load static %}

{% block message %}

<div id="load-all-messages" style="text-align: center; cursor: pointer;">
    <span>•••</span>
</div>

<div class="message-pane" id="board">
    {% for message in messages %}
    <div class="message-container {% if curr_user != message.sender %} friend-message {% endif %}">
        <div class="message-avatar">
            <img src="{{ message.sender.avatar.url }}" alt="Avatar" class="rounded-circle">
        </div>
        <div class="message-text">
            <p>{{ message.content }}</p>
            <span class="time-stamp">{{ message.time }}</span>
        </div>
    </div>
    {% endfor %}
</div>

<script>


    document.getElementById('load-all-messages').addEventListener('click', function() {
        // AJAX request to fetch all messages
        $.get('/api/all_messages/' + sender_id + '/' + receiver_id, function(data) {
            // Clear the current messages
            const board = document.getElementById('board');
            board.innerHTML = '';

            // Add all messages to the board
            data.forEach(function(message) {
                const msgDiv = document.createElement('div');
                msgDiv.classList.add('message-container');
                // Populate msgDiv with message content, similar to how it's done in your current setup
                // ...
                board.appendChild(msgDiv);
            });

            // Scroll to the end of the message pane
            board.scrollTop = board.scrollHeight;
        });
    });

    function scrolltoend() {
        $('#board').stop().animate({
            scrollTop: $('#board')[0].scrollHeight
        }, 800);
    }

    $(function () {
        setInterval(receive, 1000)
    })

    const text = '<div class="d-flex align-items-center mb-4 message-container justify-content-end user-message">' +
             '<div class="avatar">' +
             '<img src="{{ friend.avatar.url }}" class="rounded-circle" alt="Avatar">' +
             '</div>' +
             '<div class="message-text">' +
             '<div class="card card-text p-2 px-3 m-1">{msg}</div>' +
             '<div class="small time-left">{time}</div>' +
             '</div>' +
             '</div>';


    function receive(){
        $.get('/api/messages/' + sender_id + '/' + receiver_id, function(data){
            if(data.length !== 0){
                for(var i = 0; i < data.length; i++){
                    var field = text.replace('{msg}', data[i].content);
                    var time = data[i].time.slice(0, 5) + ' a.m';
                    field = field.replace('{time}', time);
                    $('#board').append(field);
                    scrolltoend();
                }
            }
        })
    }
</script>


{% endblock %}