.message-pane {
    max-height: 80vh;
    overflow-y: auto;
    background-color: #f9f9f9;  /* Light grey background */
    padding: 10px;
}

.message-container {
    display: flex;
    align-items: flex-start;  /* Align items to the start */
    margin-bottom: 15px;
    background-color: #fff;  /* White background for bubbles */
    border-radius: 18px;  /* Rounded corners for bubbles */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
}

.friend-message {
    flex-direction: row-reverse; /* Flips the order for friend messages */
}

.user-message .message-text, .friend-message .message-text {
    border-radius: 15px;
}

.message-avatar {
    min-width: 60px;  /* Ensure avatars have enough space */
    display: flex;
    align-items: flex-start;  /* Align avatars to the top */
}

.message-time {
    margin-left: auto;  /* Aligns time to the right */
}

.message-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.message-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}

.message-text {
    max-width: 70%;
    padding: 8px 12px;
    color: #333;
}

.time-stamp {
    font-size: 12px;
    color: #888; /* Grey color for timestamps */
    display: block; /* New line for timestamp */
}

.col-md-8 {
    /* Ensures the column takes full width */
    display: flex;
    flex-direction: column;
}

.avatar {
    position: relative;
    top: -5px; /* Adjust as needed */
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}



